absl-py==0.9.0
apex==0.1
asn1crypto==1.3.0
astor==0.8.0
astunparse==1.6.3
attrs==19.3.0
backcall==0.1.0
blinker==1.4
bokeh==2.1.1
cachetools==3.1.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
ci-info==0.2.0
click==7.1.1
cloudpickle==1.3.0
cryptography==2.8
cupy @ file:///home/conda/feedstock_root/build_artifacts/cupy_1593104257702/work
cycler==0.10.0
data-identification==0.15
decorator==4.4.1
dill==0.3.3
entrypoints==0.3
etelemetry==0.2.1
fastrlock==0.5
filelock==3.0.12
focal-loss==0.0.7
future==0.18.2
gast==0.3.3
google-auth==1.11.2
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
googleapis-common-protos==1.51.0
graphviz==0.14.2
grpcio==1.27.2
gym==0.17.2
gym-minigrid==1.0.1
h5py==2.10.0
humanize==2.5.0
idna==2.9
imageio==2.9.0
importlib-metadata==1.6.1
importlib-resources==2.0.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
isodate==0.6.0
jedi==0.16.0
Jinja2==2.11.2
joblib==0.14.1
jsonpatch==1.26
jsonpointer==2.0
jupyter-client==6.0.0
jupyter-core==4.6.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lxml==4.5.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
monai==0.3.0
multiprocess==0.70.11.1
networkx==2.4
nibabel==3.1.0
nilearn==0.6.2
nipype==1.5.0
numexpr==2.7.1
numpy==1.18.1
numpyencoder==0.3.0
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.1.0
packaging==20.3
pandas==1.0.2
parameterized==0.7.4
parso==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
promise==2.3
prompt-toolkit==3.0.3
protobuf==3.11.4
prov==1.5.3
psutil==5.7.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
pydicom==2.0.0
pydot==1.4.1
pydotplus==2.0.2
pyglet==1.5.0
Pygments==2.5.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.6
PySocks==1.7.1
python-dateutil==2.8.1
Python-Deprecated==1.1.0
python-version==0.0.2
pytz==2019.3
PyYAML==5.3
pyzmq==18.1.1
rdflib==5.0.0
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
scikit-learn==0.22.1
scipy==1.4.1
scraperapi-sdk==0.2.2
seaborn==0.11.0
SimpleITK==1.2.4
simplejson==3.17.0
six==1.14.0
sklearn==0.0
tables==3.6.1
tensorboard==2.2.1
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1592816951245/work/tensorboard_plugin_wit-1.6.0.post3-py3-none-any.whl
tensorflow==2.2.0
tensorflow-addons==0.10.0
tensorflow-datasets==3.1.0
tensorflow-estimator==2.2.0
tensorflow-gpu==2.2.0
tensorflow-metadata==0.22.0
termcolor==1.1.0
torch==1.6.0
torchfile==0.1.0
torchio==0.17.12
torchvision==0.7.0
tornado==6.0.4
tqdm==4.43.0
traitlets==4.3.3
traits==6.1.0
typeguard==2.7.1
typing-extensions==3.7.4.2
urllib3==1.25.8
visdom==0.1.8.9
wcwidth==0.1.8
websocket-client==0.57.0
Werkzeug==1.0.0
wget==3.2
wrapt==1.12.1
xlrd==1.2.0
zipp==3.1.0
